<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>




<form th:action="@{/login}" method="post">
    <!-- Поле для email -->
    <label>Email: <input type="email" name="username"/></label>
    <!-- Поле для пароля -->
    <label>Password: <input type="password" name="password"/></label>
    <!-- CSRF-токен (обязательно!) -->
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <button type="submit">Login</button>
</form>
<!-- Вывод ошибок -->
<div th:if="${param.error}">Invalid email or password</div>
</body>
</html>